.header-main-content {
  height: 60px;
}

body {
  padding-top: 60px;
}

.large-nav-button {
  width:90vw;
  border: 0.4rem dashed #d09c00;
  margin-top: 3rem;
  height: 30vh;
  line-height: 30vh;
}

.large-nav-button > i {
  font-size: 4rem;
  color: white !important;
}

.center-content {
  text-align: center;
}

garbage-status {
  position: relative;
  display: inline-block;
  width: 25vw;
  height: 14em;
  white-space: nowrap;
}

.container-cube {
  perspective: 400px;
}

.cube {
  --cubewidth: 8em;
  --cubewidthhalf: calc(var(--cubewidth) / 2);
  font-size: 1em;
  color: white;
  width: var(--cubewidth);
  margin: 1em auto;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(0deg);
  isolation: isolate;
}

.side {
  position: absolute;
  width: var(--cubewidth);
  height: var(--cubewidth);
  background: rgba(100,100,100,1);
  border: 1px solid white;
  text-align: center;
  line-height: var(--cubewidth);
}

.side.level {
  position: absolute;
  bottom: 0;
  border: 1px solid transparent;
  width: calc(var(--cubewidth) - 2px);
}

.cube.bio > .side {
  background: rgba(120,90,70,1);
}

.cube.bio > .side > .side.level {
  background: rgb(92, 57, 33);
}

.cube.papir > .side {
  background: rgba(100,150,100,1);
}

.cube.papir > .side > .side.level {
  background: rgb(42, 88, 42);
}

.cube > .side > .side.level {
  background: rgb(60, 60, 60);
}

.cube > .side > span {
  position: relative;
  z-index: 1;
  line-height: var(--cubewidthhalf);
  display: inline-block;
}

.front {transform: translateZ(var(--cubewidthhalf));}
.top, .top-level {transform: rotateX(90deg) translateZ(var(--cubewidthhalf));}
.right {transform: rotateY(90deg) translateZ(var(--cubewidthhalf));}
.left {transform: rotateY(-90deg) translateZ(var(--cubewidthhalf));}
.bottom {transform: rotateX(-90deg) translateZ(var(--cubewidthhalf));}
.back {transform: rotateY(-180deg) translateZ(var(--cubewidthhalf));}

.top-level {
  position: absolute;
  z-index: 2;
}